@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        x
    </button>
    The server is currently down for maintenance. 

</div>

<div class="jumbotron">
    <h1>Biblioteka</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6 col-xs-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3 col-xs-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3 col-xs-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p>The best way to learn C# is to practice building projects.</p>
        </blockquote>
    </div>

</div>
<div class="row">
    <div class="col-md-12"></div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Renata</td>
                <td>Piekarska</td>
                <td class="text-primary">gerber2030@gmail.com</td>
            </tr>
            <tr>
                <td>Michał</td>
                <td>Kamiński</td>
                <td class="text-primary">michalkam@gmail.com</tdclass="text-primary">
            </tr>
            <tr>
                <td>Mateusz</td>
                <td>Szerszeń</td>
                <td class="text-primary">matti762@gmail.com</td>
            </tr>
            <tr>
                <td>Adrian</td>
                <td>Ostrowski</td>
                <td class="text-primary">adrian.mateusz.ostrowski@gmail.com</td>
            </tr>
            <tr>
                <td>Paweł</td>
                <td>Lisowski</td>
                <td class="text-primary">pablo2202xx@gmail.com</td>
            </tr>
        </tbody>

    </table>

</div>




